:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow:hidden !important;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0.25em 0.5em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0b0746;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
}
button:hover {
  border-color: #646cff;
  color: #535bf2;
}
button:active {
  border-color: #ffffff;
}

#app {
  max-width: 1280px;
  text-align: center;
}


.logo{
  height: 2.5em;
  position: fixed;
  top: 2em;
  left: 2em;
}
.logo:hover, .quotes-icon:hover, .sounds-icon:hover, .classic-icon:hover, .nature-icon:hover, .rain-icon:hover, .house-icon:hover {
  filter: drop-shadow(0 0 1em #1c03fe);
}

.fade-enter-active,

.fade-leave-active {
  transition: all 0.8s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.footer {
  position: absolute;
  bottom: 0.25em;
  right: 47%;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.05em;
}